.main-area.day-time{
	background: url('../img/day-time.jpg') center / cover;
}

.main-area.night-time{
	background: url('../img/night-time.jpg') center / cover;
}

.main-area .mdl-layout__header{
	color: white;
}