.input-transparent{
  border-color: #fff;
  border: 1px solid transparent;
  height: 50px;
  width: 100%;
  font-size: 1.2rem;
}

table td.input-area{
  max-width: 100%;
  width: 900px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*
td :     max-width: 100%;
    width: 900px;;
*/